[mysqld]
skip-name-resolve
default_storage_engine = innodb
default_tmp_storage_engine = innodb
default-time-zone = '+00:00'
lower_case_table_names = 1
transaction-isolation = REPEATABLE-READ
collation-server = utf8mb4_general_ci
character-set-server = utf8mb4
character-set-filesystem = utf8mb4

### For Dev
max_connections = 100

innodb_sort_buffer_size = 5M

## innodb_redo_log_capacity = innodb_buffer_pool_size
innodb_redo_log_capacity = 1G
innodb_buffer_pool_size = 1G

## innodb_buffer_pool_instances = innodb_page_cleaners
innodb_buffer_pool_instances = 1
innodb_page_cleaners = 1
